/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.jq-toast-single{
    z-index: 11;
}
.mfp-bg, .mfp-wrap{
    z-index: 1000;
}
.invalid-feedback{
    display:block;
}

.half-star{
    background-color: unset !important;
    background-image: linear-gradient(to bottom right, rgba(50, 160, 103,0.8), rgba(255,255,255,0.9));
}



}
